// variable statement
$maskCor: #000;
$zIndex: 9999;

%hundred {
	width: 100%;
	height: 100%;
}
@mixin opacity($num: 1) {
	opacity: $num;
	filter: alpha(opacity=50);
}

// style
#lightbox_mask {
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: $maskCor;
	z-index: $zIndex;
	@include opacity(0.5);
	@extend %hundred;
}
// #lightbox_view_area {
// 	position: fixed;
// 	left: 0px;
// 	top: 0px;
// 	width: 100%;
// 	height: 100%;
// 	text-align: center;
// 	z-index: $zIndex + 1;
// }
#lightbox_view {
	display: none;
	position: fixed;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	margin: auto;
	max-width: 90%;
	max-height: 90%;
	min-width: 50px;
	min-height: 50px;
	border: 10px solid #fff;
	border-radius: 10px;
	z-index: $zIndex + 1;


	.lightbox_pic_area {
		position: relative;
		background-color: #fff;
		min-width: 300px;
		min-height: 300px;
		max-width: 100%;
		max-height: 100%;
	}
	.lightbox_loading {
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;
		margin: auto;
	}
	.lightbox_pic {
		display: none;
		width: 100%;
		height: 100%;
	}
	.lightbox_arrow {
		position: absolute;
		width: 40%;
		height: 100%;
		top: 0px;
		background-repeat: no-repeat;

		&:hover {
			cursor: pointer;
			// background-color: #ccc;
			// @include opacity(0.2);
		}
	}
	.lightbox_prev_arrow {
		left: 0px;
		background: url('../../image/icon/prev.png') left center no-repeat;
	}
	.lightbox_next_arrow {
		right: 0px;
		background: url('../../image/icon/next.png') right center no-repeat;
	}
	.lightbox_caption_area {
		position: absolute;
		left: 0px;
		bottom: 0px;
		width: 100%;
		height: 45px;
		background-color: $maskCor;
		overflow: hidden;
		@include opacity(0.5);
	}
	.lightbox_caption {
		display: inline-block;
		width: 91%;
		padding-left: 20px;
		color: #fff;
		overflow: hidden;
	}
	.lightbpx_pic_desc {
		margin: 0px;
		height: 30px;
		line-height: 30px;
		font-size: 16px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
	.lightbox_pic_idx {
		display: block;
		height: 15px;
		line-height: 15px;
		font-size: 14px;
	}
	.lightbox_close {
		position: absolute;
		right: 0px;
		bottom: 0px;
		display: inline-block;
		width: 50px;;
		height: 45px;
		background: url(../../image/icon/close.png) no-repeat center center;
		cursor: pointer;
	}
}

// 下面的样式是页面显示小图片的样式
#img_box {

	.lightbox_img {
		width: 200px;
		height: 200px;
		padding: 10px;
		margin: 0 20px;
		background-color: #ccc;
		border: 1px solid #ccc;
		border-radius: 10px;
		cursor: pointer;
	}
}